.catfields-row{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    position: relative;
    

    box-shadow: 5 5px 5px rgba(0, 0, 0, 0.15);


    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);


    border: 1px solid #efefef;
    height: 30vh;
    overflow: hidden;
}